#!/usr/bin/env direnv --accept-flake-config

# Pull in local configurations
dotenv_if_exists
dotenv_if_exists $PWD/.env.*
source_env_if_exists $PWD/.envrc.*

if [[ "${IN_NIX_SHELL:-0}" -eq 0 ]]; then
  use flake
fi

watches=(
  $PWD/tools/*.nix
)

for watch in "${watches[@]}"; do
  readarray -t files < <(find "$watch" -type f -print)
  watch_file "${files[@]}"
done

source_env ./scripts
