#!/usr/bin/env bash

shopt -s globstar

WATCHES=(
  $PWD/justfile
  $PWD/build
  $PWD/build/**
)

strict_env
watch_file "${WATCHES[@]}"

use flake "$PWD" \
  --option experimental-features 'nix-command flakes' \
  --option accept-flake-config true \
  --option inputs-from "$PWD" \
  --option show-trace true \
  --option connect-timeout 120 \
  --option timeout 120 \
  --option max-silent-time 180
