#!/usr/bin/env bash

shopt -s globstar

strict_env

export WORKSPACE="$PWD"
export CACHE="$WORKSPACE/.cache"

WATCHES=(
  $WORKSPACE/justfile
  $WORKSPACE/build
  $WORKSPACE/build/**
)

watch_file "${WATCHES[@]}"

use flake "$WORKSPACE" \
  --option experimental-features 'nix-command flakes' \
  --option accept-flake-config true \
  --option inputs-from "$WORKSPACE" \
  --option show-trace true \
  --option connect-timeout 120 \
  --option timeout 120 \
  --option max-silent-time 180
