__pycache__
,*
.*.swo
.*.swp
.\#*
.cache
.devcontainer.json
.devcontainer/
.direnv
.DS_Store
.local
.mypy_cache
.pre-commit-config.yaml
.trunk/
.vscode/
*.fd
*.just
*.qcow2
*~
\#*\#
just-flake.just
makefile
Makefile
outputs/
repl-result-*
result
result-*
*.tar
*.tar.gz