.direnv
.pre-commit-config.yaml
devshell
image/multilayer
install-iso
iso
just-flake.just
multilayer
packages.x86_64-linux.docker/image
result
just-flake.just
.cache/nix/flake-registry.json
.direnv/flake-profile-b4c6680d51fa7593f620efcca5bd7a32bc804491
.direnv/flake-inputs/mad6lfrg6hd540gfgiy15xa5fcgh9g1a-source
.direnv/flake-inputs/f752lpxfzhwhjgbb5k237j81nb0zy3k3-source
.direnv/flake-inputs/1h99qq6970gkx3j0m9w4yrrl9y99y1nk-source
.direnv/flake-inputs/hj7gjh1zqslj874qvpasnmanmcqi9fy7-source
.direnv/flake-inputs/yj1wxm9hh8610iyzqnz75kvs6xl8j3my-source
.direnv/flake-inputs/h0z79vcr5prgvd2yzpds0f8ajjwgp7lv-source
.direnv/flake-inputs/snyd37f8d5l1dmv2n5qsyv3l5v28jn7v-source
.direnv/flake-inputs/7mil1q25150yzm8w1pm9j96bjgi54xwd-source
.direnv/flake-inputs/v882wysrvcal8z88jpqgzbjp3ljgabxf-source
.direnv/flake-inputs/k6q3b9mml7mazqp1w2945xwp6b6l8np7-source
.direnv/flake-inputs/hxhym8c5xz6dxkl3d9yppiwlnzk3khn7-source
.direnv/flake-inputs/cy8fiajvwb80m83zxz300hwfjl0g8rna-source
.direnv/flake-inputs/la38hqqhg62q9d8rzic8wdc86cj2vdcf-source
.direnv/flake-inputs/66a9w28f0yrgdy5zgwf8wnxp0n22iahc-source
.direnv/flake-inputs/6n86v7gp9na15rfj5b6s7zv51qcjl58y-source
.direnv/flake-inputs/8kpx53qi52yhjai1vdw8zpa95iqa61bv-source
.direnv/flake-inputs/vvkqhkb911zzqmhzvabjrwhky68bz90d-source
.direnv/flake-inputs/mdz985pqf48pz79aqbf0hczf8svpggrw-source
.direnv/flake-inputs/aaz3rzb4l6x3xnx06mmg650fcrplpqzp-source
.direnv/flake-inputs/5mg8m013dk1dv3sl934ki6nbldgv23yf-source
.direnv/flake-inputs/zrv4h61adxlb9kcy2l8c0d0q5hj7w5bn-source
.direnv/flake-inputs/na7sykizsgkzh9i3wc8m8pz5xfqib2rv-source
.direnv/flake-inputs/8ql43f4sxqh1dbpqy2q5jz11zdwf9832-source
.direnv/flake-inputs/61r989h29krl9vj4bccc2j4f2iifbsrd-source
.direnv/flake-inputs/p58d2j0ac7zvja5jl14xzbc19fakjxh2-source
.direnv/flake-inputs/bnswhsxlbaf17xfsacm6xbj23g7g9j5b-source
.direnv/flake-inputs/gzdkp65619ca1m04i98pi205g6nhmdk0-source
.direnv/flake-inputs/g7qb56jxkmf0jzc6069vmasbycn80dd4-source
.direnv/flake-inputs/y4rqy83pswaw2fnp1l3nfcza4nb6rs9y-source
.direnv/flake-inputs/pijfqabg9k9p7b07qdbkj44ijmrlrh69-source
.direnv/flake-inputs/k5d9v540ys7hh7bqhy22n9dzl3rd49j8-source
.direnv/flake-inputs/z9ydd122f6jjkyinszhxywn5zzhhsns8-source
.direnv/flake-inputs/884mbvnyz1xbr5y8aqzb87a89q0dlcy7-source
.direnv/flake-inputs/21ks0kiajdmbijwg5f4lgkiyq8hi97rm-source
.direnv/flake-inputs/xdv56a1sma9x1a7sp1mvnkxlyfw1iz7j-source
.direnv/flake-inputs/g5v3sgqy6a0fsmas7mnapc196flrplix-source
.direnv/flake-inputs/d0c2gch04ipjiclz9ld1yhks2491q0wi-source
.local
.cache
.bash_history
env-vars
