.vscode
.direnv

.pre-commit-config.yaml

/**/.env.*
/**/.envrc.*

/**/result-*
/**/result
/**/repl-result-*
/**/*.qcow2
/**/*.tar.gz


*~
,*
/**/.*.swp
/**/.*.swo
/**/.DS_Store
/**/*.nvimlog

configuration.nix
hardware-configuration.nix
