case "$(uname -sr)" in

   Darwin*)
     source_env ./darwin
     ;;

   Linux*Microsoft*)
     export WSL=1
     source_env ./nixos
     ;;

   Linux*)
      source_env ./nixos
     ;;

   CYGWIN*|MINGW*|MINGW32*|MSYS*)
     echo 'MS Windows'
     ;;

   *)
     echo 'Other OS'
     ;;
esac

source_env ./home
source_env ./flake
